@font-face {
    font-family: Playwrite USA;
    src: url(./src/fonts/PlaywriteAUSA-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: Playwrite Modern;
    src: url(./src/fonts/PlaywriteUSModern-VariableFont_wght.ttf);
}

@font-face {
    font-family: Tagesschrift;
    src: url(./src/fonts/Tagesschrift-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Playwrite Modern', sans-serif;

}

.top {
    background-color: #122526;
}

.logo {
    display: inline-block;
    margin-left: 3%;
    text-align: center;
    color: #FFFFFF;
    font-family: tagesschrift;
    padding: 10px;
    ;
}

.logo:hover {
    cursor: pointer;
    color: #54CFDB;
}

.logo a {
    text-decoration: none;
    color: #FFFFFF;
}

.logo a:hover {
    color: #54CFDB;
}

.navbar-links {
    display: inline-block;
    float: right;
    padding-right: 3%;
}

@media screen and (max-width: 768px) {
    .logo {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .navbar-links {
        width: 100%;
        display: inline-block;
        float: none;
        padding-right: 0;
        text-align: center;
    }

    .top-left {
        padding: 0;
    }

}

.navbar-links li {
    transition: 0.3s ease-in;
    list-style: none;
    display: inline-block;
}

.navbar-links li:hover {
    transform: scale(1.2);
    border: 2px solid #347D83;
    border-radius: 5px;
}

.navbar-links a {
    text-decoration: none;
    padding: 10px;
    transition: 0.3s ease-in;
    color: white;
}

.navbar-links a:hover {
    color: #285C61;

}

.intro {
    background-image: url(./src/img/close-up-high-tech-embroidery-machine-creating-intricate-patterns-fabric-showcasing-craftsmanship-advanced-technology-360447779.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.top-left {
    background-color: #122526;
    display: inline-block;
    width: 50%;
    padding: 0px 3%;
    padding-bottom: 3%;
    color: white;
}

.top-left form {
    display: inline-block;
    width: 100%;

}

.top-left form * {
    display: flex;
    justify-self: center;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 5px 0;
    border: none;
    text-align: center;
    background-color: #596667;
    color: #a2bD7E;
}

.top-left form button {
    display: flex;
    width: calc(100% - 18px);
    justify-content: center;
    align-content: center;
}

.top-left form button:hover {
    cursor: pointer;
    background-color: #54CFDB;
    color: white;
}

.bottom {
    width: 100%;
    text-align: center;
}


.services {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
}

.service-item {
    width: 33%;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.service-item:hover {
    transform: scale(1.1);
}

.service-item img {
    width: 70%;
    height: auto;
}

.service-item button {
    width: calc(70% - 10px);
    padding: 10px;
    background-color: #122526;
    color: white;
    border: none;
    transition: 0.3s ease-in;
}

.service-item button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.container {
    padding: 3%;
}

.container .row .footer-links li {
    list-style: none;

}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.contact-details {
    list-style: none;
}

li {
    list-style: none;
}

.container form {
    width: 300px;
    background-color: #122526;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form * {
    display: flex;
    justify-self: center;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 5px 0;
    border: none;
    text-align: center;
    background-color: #596667;
    color: #a2bD7E;
}

.container form button {
    display: flex;
    width: calc(100% - 18px);
    justify-content: center;
    align-content: center;
    transition: 0.3s ease-in;
}

.container form button:hover {
    cursor: pointer;
    background-color: #54CFDB;
    color: white;
    transform: scale(1.2);
}